table,th,td{
    border: 3px solid black;
    border-collapse: collapse;
    background-color: aqua;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table{
    width: 100%;
}

body{
    background-image: url(https://fondosmil.com/fondo/17010.jpg);
}

h1{
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

th{
    background-color: cornflowerblue;
}
